@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* RESET + FONT */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Sarabun", Arial, Helvetica, sans-serif;
	text-decoration: none;
	list-style: none;
	color: inherit;
}

/* BACKGROUND */
body {
	background-image: url("images/background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
}

/* HEADER STYLE */
.header {
	background-image: linear-gradient(whitesmoke, rgb(202, 202, 255));
	box-shadow: 0 0 30px rgb(151, 151, 255);
	position: fixed;
	width: 100%;
	top: 0;
}

.header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 60px;
	max-width: 80%;
	padding: 0 30px;
	margin: 0 auto;
}

.logo {
	display: flex;
	align-items: center;
	column-gap: 7px;
	font-size: 25px;
}

.logo:hover {
	color: cornflowerblue;
	transition: all 0.2s;
}

.logo__text {
	bottom: 50px;
	transform: translateY(-2px);
}

.logo__img {
	height: 45px;
	display: block;
}

.header__nav__list {
	display: flex;
	column-gap: 40px;
	min-height: 60px;
	align-items: center;
}

.header__nav__link {
	color: black;
}

.header__nav__link:hover {
	color: cornflowerblue;
	transition: all 0.2s;
}

/* HEADER MEDIA QUERIES */
@media (max-width: 700px) {
	.header__content {
		flex-direction: column;
		padding: 15px 0;
		row-gap: 15px;
	}

	.header__nav__list {
		min-height: 0px;
	}
}

/* FOOTER */
.footer {
	background-color: midnightblue;
	box-shadow: 0 0 30px black;
	position: sticky;
	top: 100%;
}

.footer__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	min-height: 60px;
	max-width: 80%;
	padding: 15px 0;
	row-gap: 15px;
	margin: 0 auto;
}

.footer__nav__list {
	display: flex;
	column-gap: 40px;
	min-height: 2px;
	align-items: center;
}

.footer__nav__link {
	color: white;
}

.footer__nav__link:hover {
	color: cornflowerblue;
	transition: all 0.2s;
}

.footer__nav__svg {
	filter: invert(1);
	width: 24px;
	height: 24px;
}

.footer__copyright {
	color: white;
}
